// SECTION :: START

.contact {
	padding-top: 135px;
  background-image: url('../img/img-pattern-bg@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	@include adaptive(1535) {
		padding-top: 100px;
	}
	@include adaptive(767) {
		padding-top: 70px;
	}

	&__wrapper {
		&-2 {
			@include adaptive(767) {
				padding-bottom: 70px;
			}
		}
	}

	&__title {
		padding-bottom: 40px;
	}

	&__desc {
		width: 100%;
		max-width: 930px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 130px;
    text-align: center;
		@include adaptive(1535) {
			padding-bottom: 100px;
		}
		@include adaptive(767) {
			padding-bottom: 70px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1364px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 100px;
		@include adaptive(767) {
			padding-bottom: 45px;
		}

		&-group {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 16px) / 2);
				@include adaptive(767) {
					max-width: 100%;
				}
			}
		}

		&-field {
			position: relative;
			padding-bottom: 25px;

			&--btn {
				padding-top: 35px;
				@include adaptive(767) {
					padding-top: 5px;
				}
			}

			label {
				display: flex;
				width: 100%;
			}

			input,
			select,
			textarea {
				outline: none;
				position: relative;
				display: flex;
				width: 100%;
				height: 75px;
				padding: 0 30px;
				border: 2px solid #c39d48;
				box-shadow: none;
				border-radius: 0;
				background-color: #fff;
				font-weight: bold;
				font-size: 21px;
				color: #000;
				@include inputPlaceholder {
					font-weight: bold;
					font-size: 21px;
					color: #adadad;
				}
				@include adaptive(767) {
					height: 65px;
					padding: 0 20px;
					font-size: 18px;
					@include inputPlaceholder {
						font-size: 18px;
					}
				}
			}

			textarea {
				height: 250px;
				padding: 30px;
				@include adaptive(767) {
					height: 200px;
					padding: 20px;
				}
			}
		}
	}
}

// SECTION :: END
