// SECTION :: START

section#portfolio.portfolio
  .c-grid
    .portfolio__wrapper

      p.portfolio__label.c-label.wow.animate__animated.animate__fadeInUp BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp FACE

      .portfolio__carousel.portfolio__carousel-1.wow.animate__animated.animate__fadeInUp
        .swiper.portfolioSwiper1
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-face-1.jpg" srcset="img/img-portfolio-face-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white FACELIFT
              .swiper-slide
                img(src="img/img-portfolio-face-2.jpg" srcset="img/img-portfolio-face-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white Browlift
              .swiper-slide
                img(src="img/img-portfolio-face-3.jpg" srcset="img/img-portfolio-face-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white Lip Lift
              .swiper-slide
                img(src="img/img-portfolio-face-4.jpg" srcset="img/img-portfolio-face-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white Otoplasty

      p.portfolio__label.c-label.wow.animate__animated.animate__fadeInUp BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp BREAST

      .portfolio__carousel.portfolio__carousel-2.wow.animate__animated.animate__fadeInUp
        .swiper.portfolioSwiper2
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-breast-1.jpg" srcset="img/img-portfolio-breast-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-2.jpg" srcset="img/img-portfolio-breast-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-3.jpg" srcset="img/img-portfolio-breast-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-breast-4.jpg" srcset="img/img-portfolio-breast-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white

      p.portfolio__label.c-label.wow.animate__animated.animate__fadeInUp BEFORE & AFTERS
      h3.portfolio__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp body

      .portfolio__carousel.portfolio__carousel-3.wow.animate__animated.animate__fadeInUp
        .swiper.portfolioSwiper3
          .swiper-wrapper
            each val, idx in [1,2,3,4,5]
              .swiper-slide
                img(src="img/img-portfolio-body-1.jpg" srcset="img/img-portfolio-body-1@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-2.jpg" srcset="img/img-portfolio-body-2@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-3.jpg" srcset="img/img-portfolio-body-3@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white
              .swiper-slide
                img(src="img/img-portfolio-body-4.jpg" srcset="img/img-portfolio-body-4@2x.jpg 2x" alt="")
                p.c-title.c-title--medium.c-title--white

// SECTION :: END
