---
title: Dr.Ronald Lohner | Contacts

pageClassName: p-contacts
---
extends shared/_layout

block content
  main.main(class!= pageClassName)

    +mainSection('contact', 'img-gallery-main-bg.jpg', 'CONTACT US', ['HOME', '|', 'CONTACT US'])

    include components/contact/contact

    include components/common/information
