// FOOTER :: START

footer#footer.footer

  .footer__container.footer__container-1

    .c-grid
      .footer__wrapper.footer__wrapper-1
        .footer__wrapper-left

          p.footer__title.wow.animate__animated.animate__fadeInUp BRYN MAWR, PA

          ul.footer__info
            li.wow.animate__animated.animate__fadeInUp
              p 919 Conestoga Rd. Building One, Suite 200 Bryn Mawr, PA 19010
            li.wow.animate__animated.animate__fadeInUp
              a(href="tel:6108229136") (610) 822-9136

          ul.footer__social
            li.wow.animate__animated.animate__fadeInUp
              a(href="#")
                i.icon-font.icon-instagram
            li.wow.animate__animated.animate__fadeInUp
              a(href="#")
                i.icon-font.icon-facebook
            li.wow.animate__animated.animate__fadeInUp
              a(href="#")
                i.icon-font.icon-is


        .footer__wrapper-middle

          .logo.logo--footer.wow.animate__animated.animate__fadeInUp
            a.logo__btn(href="#")
              img.logo__img(src="img/logo-col.png" srcset="img/logo-col@2x.png 2x" alt="")

        .footer__wrapper-right


  .footer__container.footer__container-2

    .c-grid
      .footer__wrapper.footer__wrapper-2

        p.copyright.wow.animate__animated.animate__fadeInUp © Lohner Plastic Surgery. All Rights Reserved.
        p.made.wow.animate__animated.animate__fadeInUp!= 'Website Design & SEO by <a href="#">MRKTMADE</a>'
        nav.footer__toc.wow.animate__animated.animate__fadeInUp
          a(href="#") Privacy Policy
          span |
          a(href="#") TOS
          span |
          a(href="#") Sitemap

// FOOTER :: END
