// SECTION :: START

section#information.information
  .c-grid

    p.information__label.c-label our practice
    h2.information__title.c-title Patient Information
    p.information__desc.c-desc We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

    .information__wrapper

      ul.information__list
        li
          a.c-title.c-title--small(href="#") Out of Town
        li
          a.c-title.c-title--small(href="#") Patient Financing
        li
          a.c-title.c-title--small(href="#") Patient Forms

// SECTION :: END
