// SECTION :: START

section#information.information
  .c-grid

    p.information__label.c-label.wow.animate__animated.animate__fadeInUp our practice
    h2.information__title.c-title.wow.animate__animated.animate__fadeInUp Patient Information
    p.information__desc.c-desc.wow.animate__animated.animate__fadeInUp We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

    .information__wrapper

      ul.information__list
        li.wow.animate__animated.animate__fadeInUp
          a.c-title.c-title--small(href="#") Out of Town
        li.wow.animate__animated.animate__fadeInUp
          a.c-title.c-title--small(href="#") Patient Financing
        li.wow.animate__animated.animate__fadeInUp
          a.c-title.c-title--small(href="#") Patient Forms

// SECTION :: END
