// SECTION :: START

section#media.media
  .c-grid
    .media__wrapper

      img(src="img/img-media.jpg" srcset="img/img-media@2x.jpg 2x" alt="")

      div

        p.media__label.c-label PUBLICATIONS & MORE
        h2.media__title.c-title.c-title--white.c-title--big MEDIA

        .media__btn.c-btn__wrapper
          a.c-btn.c-btn--white(href="#")
            span READ MORE PUBLICATIONS

// SECTION :: END
