// SECTION :: START

section#media.media
  .c-grid
    .media__wrapper

      img.wow.animate__animated.animate__fadeInUp(src="img/img-media.jpg" srcset="img/img-media@2x.jpg 2x" alt="")

      div

        p.media__label.c-label.wow.animate__animated.animate__fadeInUp PUBLICATIONS & MORE
        h2.media__title.c-title.c-title--white.c-title--big.wow.animate__animated.animate__fadeInUp MEDIA

        .media__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
          a.c-btn.c-btn--white(href="#")
            span READ MORE PUBLICATIONS

// SECTION :: END
