// SECTION :: START

section#meet.meet

  .meet__bg
    div
      img(src="img/img-meet-overlay-1.jpg" srcset="img/img-meet-overlay-1@2x.jpg 2x" alt="")
    div
      img(src="img/img-meet-1.jpg" srcset="img/img-meet-1@2x.jpg 2x" alt="")

  .c-grid
    .meet__wrapper

      div

        p.meet__label.c-label MEET YOUR PLASTIC SURGEON
        h2.meet__title.c-title Dr. Ronald A. Lohner
        p.meet__desc.c-desc For your plastic surgery needs in suburban Philadelphia, Pennsylvania, choose Ronald Lohner, M.D., F.A.C.S, an experienced and highly qualified plastic surgeon. Dr. Lohner has passed stringent requirements to achieve board certification in plastic surgery, and he is the Chief of Plastic Surgery at Bryn Mawr Hospital. Dr. Lohner is a solo practitioner in the Bryn Mawr area of Philadelphia, where patients can consult with him privately in his office, or receive skin treatments such as microdermabrasion and custom peels at Lohner Skin Care.

        .meet__btn.c-btn__wrapper
          a.c-btn.c-btn--gold(href="#")
            span MEET THE SURGEON

// SECTION :: END
