// SECTION :: START

section#menu.menu(mobile-block-js)

  .menu__overlay
  .menu__container

    .menu__wrapper
      .menu__wrapper-top

      .menu__wrapper-middle
        div

          nav.menu__btn-wrapper
            a.menu__btn(href="#" data-id='1')
              span Home
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='2')
              span About
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='3')
              span FACE
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='4')
              span BREAST
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='5')
              span BODY
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='6')
              span Gallery
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='7')
              span RESOURCES
              i.icon-font.icon-corner
            a.menu__btn(href="#" data-id='8')
              span Contact
              i.icon-font.icon-corner

        div

          .menu__content-wrapper
            .menu__content(data-content-id='1')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='2')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") The Latest Advancements in Facial Plastics
                li
                  a.menu__link(href="#") Meet
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Video
                li
                  a.menu__link(href="#") Photo Gallery
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='3')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") The Latest Advancements in Facial Plastics
                li
                  a.menu__link(href="#") Specialty Procedures
                li
                  a.menu__link(href="#") Photo Gallery
                li
                  a.menu__link(href="#") Patient Stories
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='4')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Great Results
                li
                  a.menu__link(href="#") Request Consultation

            .menu__content(data-content-id='5')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Consultation form
                li
                  a.menu__link(href="#") Patient Stories

            .menu__content(data-content-id='6')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Consultation form
                li
                  a.menu__link(href="#") Patient Stories

            .menu__content(data-content-id='7')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Consultation form
                li
                  a.menu__link(href="#") Patient Stories

            .menu__content(data-content-id='8')

              ul.menu__link-wrapper
                li
                  a.menu__link(href="#") Consultation form
                li
                  a.menu__link(href="#") Patient Stories

      .menu__wrapper-bottom
        div

          a.header__address(href="#") bryn mawr, pa | (610) 822-9136
          a.header__request(href="#") request a consultation


        div
          ul.footer__social
            li
              a(href="#")
                i.icon-font.icon-facebook
            li
              a(href="#")
                i.icon-font.icon-instagram
            li
              a(href="#")
                i.icon-font.icon-is

// SECTION :: END
