// SECTION :: START

section#video.video
  .c-grid

    p.video__label.c-label Appearances & MORE
    h2.video__title.c-title.c-title--big VIDEOS

    .video__wrapper

      .video__box-wrapper
        div
          a.video__box(href="#")
            img(src="img/img-video.jpg" srcset='img/img-video@2x.jpg 2x' alt="")
        div
          a.video__box(href="#")
            img(src="img/img-video.jpg" srcset='img/img-video@2x.jpg 2x' alt="")
        div
          a.video__box(href="#")
            img(src="img/img-video.jpg" srcset='img/img-video@2x.jpg 2x' alt="")


      .video__btn.c-btn__wrapper
        a.c-btn(href="#")
          span VIEW MORE VIDEOS

// SECTION :: END
