// SECTION :: START

section#me.me

  .me__bg
    div

      .me__ava
        img(src="img/img-me.jpg" srcset="img/img-me@2x.jpg 2x" alt="")

      .me__awards
        div
          img(src="img/img-me-awards-1.png" srcset="img/img-me-awards-1@2x.png 2x" alt="")
        div
          img(src="img/img-me-awards-2.png" srcset="img/img-me-awards-2@2x.png 2x" alt="")
        div
          img(src="img/img-me-awards-3.png" srcset="img/img-me-awards-3@2x.png 2x" alt="")

    div

  .c-grid
    .me__wrapper
      .me__wrapper-left
      .me__wrapper-right

        p.me__label.c-label MEET THE DOCTOR
        h3.me__title.c-title Dr. Ronald Lohner
        p.me__desc.c-desc Educated and trained at top colleges and hospitals, Dr. Lohner is a true professional. He instructs and trains plastic surgery residents from the University of Pennsylvania School of Medicine and authored a textbook chapter used by plastic surgery residents. During office consultations, Dr. Lohner provides for a personalized and informative encounter in a non-pressured environment where he can get to know his patients, and help them find the best solutions to achieve their goals.
        h3.me__title.c-title Education
        p.me__desc.c-desc Dr. Lohner received his Bachelor’s degree in Chemistry and German at Dartmouth College. He attended medical school at UMDNJ-Rutgers, where he was named Alpha Mega Alpha, an honorary society for the top ten percent of medical students. Dr. Lohner completed his general surgery residency at U. Conn-Hartford Hospital, in Hartford, CT, rising to become the Chief Resident of general surgery there. Subsequently, he narrowed his focus to plastic surgery having trained at the prestigious Hospital of the University of Pennsylvania and Children’s Hospital of Philadelphia.
        h3.me__title.c-title Medical and Academic Practice
        p.me__desc.c-desc Dr. Lohner has instructed at the University of Connecticut School of Medicine and currently trains residents at the University of Pennsylvania School of Medicine. In 1992, he successfully passed the examination of the American Board of Surgery to achieve board certification in General Surgery. In 1995, he became Board Certified in Plastic Surgery.
        p.me__desc.c-desc Dr. Lohner has received numerous awards and honors, including graduating at the top of his class in organic chemistry at Dartmouth, as well as being named to AOA Honor Medical Society. He received the Dr. Robert W. Painter Award for Outstanding General Surgery Resident and the Edward Weck Incorporated for Outstanding Chief Resident. Dr. Lohner also received honors for presenting Best Clinical Paper at a combined meeting of the Robert H. Ivy Society and the Ohio River Valley Society of Plastic Surgeons.
        p.me__desc.c-desc Dr. Lohner is a Fellow of the American College of Surgeons and a member of numerous surgical societies including The American Society of Plastic Surgery, The American Society for Aesthetic Plastic Surgery, The Northeastern Society of Plastic Surgeons, and the Robert H. Ivy Society of Plastic Surgeons.

// SECTION :: END
