// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 65px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;

  &.c-btn--white {
    &:before,
    &:after {
      background-color: #ffffff;
    }

    span {
      color: #ffffff;
    }
  }
  &.c-btn--gold {
    &:before,
    &:after {
      background-color: #9B8E6F;
    }

    span {
      color: #9B8E6F;
    }
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
      @include transition(width);
    }

    span {
      transform: scale(0.95);
      @include transition(transform);
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #000000;
    @include transition(width);
    @include adaptive(767) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  span {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    color: #404040;
    transform-origin: center;
    @include transition(transform);
    @include adaptive(1279) {
      font-size: 16px;
    }
    @include adaptive(767) {
      font-size: 14px;
    }
  }
}

// BUTTON :: END
