// TITLE :: START

.c-label {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #1a1a1a;
  text-transform: uppercase;
  @include adaptive(767) {
    font-size: 12px;
  }
}

// TITLE :: END
