// LOGOTYPE :: START

.logo {
  display: flex;

  &.logo--header {
    max-width: 275px;
    @include adaptive(1023) {
      max-width: 200px;
    }

    .logo {
      &__img {
        &:nth-of-type(2) {
          opacity: 0;
          position: absolute;
          @include transition(opacity);
        }
      }
    }
  }

  &.logo--footer {
    max-width: 350px;
    @include adaptive(1279) {
      max-width: 300px;
    }
    @include adaptive(767) {
      max-width: 250px;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// LOGOTYPE :: END
