// HEADER :: START

.header {
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#000, 0.70);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    @include adaptive(1023) {
      height: 90px;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div {
        padding-left: 20px;
      }
    }
  }

  &__address,
  &__request {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    @include hoverState(#fff);
    @include adaptive(1279) {
      font-size: 14px;
    }
    @include adaptive(1023) {
      display: none;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    @include adaptive(767) {
      display: none;
    }

    li {
      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-font {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

// HEADER :: END
