// HEADER :: START

.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#000, 0.70);
  @include transition(background-color);

  .is-menuOpen & {
    background-color: transparent;
    @include transition(background-color);

    .header {
      &__address,
      &__request,
      &__social {
        opacity: 0;
        @include transition(opacity);
      }
    }

    .logo {
      &.logo--header {
        .logo {
          &__img {
            &:nth-of-type(2) {
              opacity: 1;
              @include transition(opacity);
            }
          }
        }
      }
    }

    .hamburger {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #000;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    @include adaptive(1023) {
      height: 90px;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div {
        padding-left: 20px;
      }
    }
  }

  &__address,
  &__request {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    @include hoverState(#fff);
    @include transition(opacity);
    @include adaptive(1279) {
      font-size: 14px;
    }
    @include adaptive(1023) {
      display: none;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    @include transition(opacity);
    @include adaptive(767) {
      display: none;
    }

    li {
      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-font {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

// HEADER :: END
