// SECTION :: START

.main {
	position: relative;

	&__bg {
    z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			@extend %imageResCoverAbs;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.35);
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__content {
		width: 100%;
	}

	&__title {
		padding-bottom: 15px;
    @include adaptive(767) {
      font-size: 32px;
    }
    @include adaptive(374) {
      font-size: 28px;
    }
	}

  &__subtitle {
    padding-bottom: 50px;
    font-size: 22px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    @include adaptive(767) {
      font-size: 18px;
    }
  }

  &__btn {
    .c-btn {
      &:before,
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

	&__breadcrumbs {
		display: flex;
		align-items: center;
		justify-content: center;

		a,
		p {
			display: flex;
			padding-left: 2px;
			padding-right: 2px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			text-align: center;
		}

		a {
			color: #ffffff;
			@include transition(color);

			&:hover {
				color: #c39d48;
				@include transition(color);
			}

			&:nth-of-type(2n) {
				pointer-events: none;
			}
		}

		p {
      font-weight: 900;
			color: #fff;
		}
	}
}

// SECTION :: END
