// SECTION :: START

.about {
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
  @include adaptive(1365) {
    padding-top: 100px;
  }
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  &__bg {
    position: absolute;
    top: 150px;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% - 150px);
    @include adaptive(1365) {
      top: 130px;
      height: calc(100% - 130px);
    }
    @include adaptive(1023) {
      position: relative;
      top: 0;
      height: auto;
      flex-wrap: wrap;
    }

     > div {
       width: 50%;
       @include adaptive(1023) {
         width: 100%;
         padding-bottom: 25px;
       }
       @include adaptive(767) {
         padding-bottom: 0;
       }
     }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &-left,
    &-right {
      width: 50%;
      padding-left: 50px;
      @include adaptive(1023) {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  &__ava {
    position: relative;
    display: flex;
    align-items: flex-start;
    @include adaptive(767) {
      display: none;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__label,
  &__title {
    text-align: left;
  }

  &__title {
    padding-bottom: 50px;
  }

  &__desc {
    padding-bottom: 50px;
  }
}

// SECTION :: END
