// SECTION :: START

section#about.about

  .about__bg
    div

      .about__ava
        img.wow.animate__animated.animate__fadeInUp(src="img/img-about.jpg" srcset="img/img-about@2x.jpg 2x" alt="")

    div

  .c-grid
    .about__wrapper
      .about__wrapper-left
      .about__wrapper-right

        p.about__label.c-label.wow.animate__animated.animate__fadeInUp OUR PRACTICE
        h3.about__title.c-title.wow.animate__animated.animate__fadeInUp Conveniently located to serve Philadelphia
        p.about__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        p.about__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.

// SECTION :: END
