-
  const project = 'Dr. Ronald, Lohner';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '90'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '90'
    }, {
      name: 'Face Procedures',
      href: 'face.html',
      progress: '90'
    }, {
      name: 'Breast Procedures',
      href: 'breast.html',
      progress: '20'
    }, {
      name: 'Me',
      href: 'me.html',
      progress: '90'
    }, {
      name: 'Contacts',
      href: 'contacts.html',
      progress: '90'
    }, {
      name: 'Gallery',
      href: 'gallery.html',
      progress: '90'
    }
  ];
