// SECTION :: START

section#features.features

  .features__container.features__container-1
    .features__bg.features__bg-1
      div
      div
        img(src="img/img-features-1.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-1
        div
          p.features__label.c-label FACE PROCEDURES
          h2.features__title.c-title.c-title--big FACE
          p.features__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper
            a.c-btn.c-btn--gold(href="#")
              span OTHER FACE PROCEDURES

      .features__list
        ul
          li
            a(href="#") Facelift
          li
            a(href="#") Otoplasty
          li
            a(href="#") RHINOPLASTY

  .features__container.features__container-2
    .features__bg.features__bg-2
      div
      div
        img(src="img/img-features-2.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-2
        div
          p.features__label.c-label BREAST PROCEDURES
          h2.features__title.c-title.c-title--big BREAST
          p.features__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper
            a.c-btn.c-btn--gold(href="#")
              span OTHER BREAST PROCEDURES

      .features__list
        ul
          li
            a(href="#") BREAST LIFT
          li
            a(href="#") BREAST REDUCTION
          li
            a(href="#") Breast augmentation

  .features__container.features__container-3
    .features__bg.features__bg-3
      div
      div
        img(src="img/img-features-3.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-3
        div
          p.features__label.c-label BODY PROCEDURES
          h2.features__title.c-title.c-title--big BODY
          p.features__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper
            a.c-btn.c-btn--gold(href="#")
              span OTHER BODY PROCEDURES

      .features__list
        ul
          li
            a(href="#") THIGH LIFT
          li
            a(href="#") TUMMY TUCK
          li
            a(href="#") LIPOSUCTION

  .features__container.features__container-4
    .features__bg.features__bg-4
      div
      div
        img(src="img/img-features-4.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-4
        div
          p.features__label.c-label FACE PROCEDURES
          h2.features__title.c-title.c-title--big FACE
          p.features__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper
            a.c-btn.c-btn--gold(href="#")
              span OTHER FACE PROCEDURES

      .features__list
        ul
          li
            a(href="#") Facelift
          li
            a(href="#") Otoplasty
          li
            a(href="#") RHINOPLASTY

// SECTION :: END
