// SECTION :: START

section#features.features

  .features__container.features__container-1
    .features__bg.features__bg-1
      div
      div
        img.wow.animate__animated.animate__fadeInUp(src="img/img-features-1.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-1
        div
          p.features__label.c-label.wow.animate__animated.animate__fadeInUp FACE PROCEDURES
          h2.features__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp FACE
          p.features__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--gold(href="#")
              span OTHER FACE PROCEDURES

      .features__list
        ul
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") Facelift
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") Otoplasty
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") RHINOPLASTY

  .features__container.features__container-2
    .features__bg.features__bg-2
      div
      div
        img.wow.animate__animated.animate__fadeInUp(src="img/img-features-2.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-2
        div
          p.features__label.c-label.wow.animate__animated.animate__fadeInUp BREAST PROCEDURES
          h2.features__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp BREAST
          p.features__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--gold(href="#")
              span OTHER BREAST PROCEDURES

      .features__list
        ul
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") BREAST LIFT
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") BREAST REDUCTION
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") Breast augmentation

  .features__container.features__container-3
    .features__bg.features__bg-3
      div
      div
        img.wow.animate__animated.animate__fadeInUp(src="img/img-features-3.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-3
        div
          p.features__label.c-label.wow.animate__animated.animate__fadeInUp BODY PROCEDURES
          h2.features__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp BODY
          p.features__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--gold(href="#")
              span OTHER BODY PROCEDURES

      .features__list
        ul
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") THIGH LIFT
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") TUMMY TUCK
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") LIPOSUCTION

  .features__container.features__container-4
    .features__bg.features__bg-4
      div
      div
        img.wow.animate__animated.animate__fadeInUp(src="img/img-features-4.jpg" alt="")
    .c-grid
      .features__wrapper.features__wrapper-4
        div
          p.features__label.c-label.wow.animate__animated.animate__fadeInUp FACE PROCEDURES
          h2.features__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp FACE
          p.features__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec arcu dolor. Cras scelerisque blandit euismod. Nunc diam felis, hendrerit vel hendrerit sed, sodales ut purus. Morbi a magna at sem maximus laoreet at vitae arcu. Vestibulum et massa id nisi.
          .features__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
            a.c-btn.c-btn--gold(href="#")
              span OTHER FACE PROCEDURES

      .features__list
        ul
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") Facelift
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") Otoplasty
          li.wow.animate__animated.animate__fadeInUp
            a(href="#") RHINOPLASTY

// SECTION :: END
