// SECTION :: START

section#our.our

  .our__bg

  .c-grid
    .our__wrapper

      div

        p.our__label.c-label OUR PRACTICE
        h2.our__title.c-title LOHNER PLASTIC SURGERY in Philadelphia, PA
        p.our__desc.c-desc Dr. Ronald A. Lohner, MD, FACS offers breast enhancement, body contouring, and facial surgery procedures to residents of Philadelphia and Bryn Mawr, PA. Dr. Lohner believes in the importance of patient privacy.
        p.our__desc.c-desc Many patients who have undergone procedures will not be displayed on this website. A complete gallery of pre-operative and post-operative photographs will be shown to you during your consultation with Dr. Lohner. This section features before and after pictures for a variety of procedures.

        .our__btn.c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--gold(href="#")
            span MEET OUR PRACTICE

// SECTION :: END
