// SECTION :: START

section#face.face.face--breast

  .c-grid
    .face__wrapper

      div

        h2.face__title.c-title.wow.animate__animated.animate__fadeInUp Breast Augmentation
        p.face__label.c-label.wow.animate__animated.animate__fadeInUp Conveniently located to serve Philadelphia and Bryn Mawr, PA
        p.face__desc.c-desc.wow.animate__animated.animate__fadeInUp Breast Augmentation, also known as Breast Enlargement or Augmentation Mammoplasty, is a surgical procedure designed to add volume, form, and symmetry to the chest. Using either saline or silicone implants, breast implants can dramatically improve the shape and size of the chest. Breast Augmentation continues to be the most popular cosmetic surgery procedure performed in Philadelphia
        p.face__desc.c-desc.wow.animate__animated.animate__fadeInUp Despite the stereotypes associated with Breast Augmentation, there are many different reasons women seek implants. The one things that all women inquiring about Breast Augmentation procedures have in common is the desire for an aesthetically pleasing figure, with breast proportionate to their body type.

  .face__bg
    div
    div
    div
      img.wow.animate__animated.animate__fadeInUp(src="img/img-face-breast.png" srcset="img/img-face-breast@2x.png 2x" alt="")


// SECTION :: END
