// SECTION :: START

section#face.face

  .c-grid
    .face__wrapper

      div

        p.face__label.c-label.wow.animate__animated.animate__fadeInUp FACE PROCEDURES
        h2.face__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp FACELIFT
        p.face__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie vitae lectus sit amet finibus. Donec et facilisis lectus. Morbi quis tincidunt diam. Donec ac velit vel lacus euismod commodo. Etiam luctus, nibh non pulvinar porta, felis justo ultricies dui, vel ullamcorper ante turpis et libero. Curabitur dictum nec mauris quis maximus. Suspendisse eget venenatis lacus, in aliquam nulla.

        .face__btn.c-btn__wrapper.wow.animate__animated.animate__fadeInUp
          a.c-btn.c-btn--gold(href="#")
            span LEARN MORE

  .face__bg
    div
    div

// SECTION :: END
