// SECTION :: START

section#implants.implants
  .c-grid

    h2.implants__title.c-title.c-title--medium.c-tilte--black Saline versus Silicone Implants

  .implants__container

    .implants__wrapper

      .implants__box.implants__box-1

        p.implants__box-title Saline Implants
        p.implants__box-desc Just because one size breast looks great on someone, does not mean they will look equally fantastic on everyone. Height, weight, and build all factor into which size breast works best on an individual. Luckily there are many different combinations of breast implant size, shape, and texture, allowing the procedure to be tailored to each individual woman’s needs and desires.

      .implants__box.implants__box-2

        p.implants__box-title Silicone Implants
        p.implants__box-desc Silicone Implants are by far the most popular choice. After being removed from the market for several years, silicone implants have been reintroduced to cosmetic surgery, and proven to be 100% safe for all women. The implants are composed of a soft, silicone gel; they are placed pre-filled into the breast pocket. Silicone implants look and feel more natural than saline. These implants can be placed either above (Subglandular) or below the muscle (Submuscular). Silicone has a lower deflation rate compared to Saline, as well as lower chance for a rippling effect.

    .implants__bg
      img(src="img/img-implants-bg.jpg" alt="")

// SECTION :: END
