// SECTION :: START

section#list.list

  .list__bg

  .c-grid
    .list__wrapper

      h2.list__title.c-title.c-title--medium.c-title--black.wow.animate__animated.animate__fadeInUp Preparing for an Mammoplasty surgery
      p.list__desc.c-desc.wow.animate__animated.animate__fadeInUp Once the surgery has been scheduled, it will be time to prepare for the procedure. A patient should carefully read all pre-operative and post-operative instructions given by Dr. Lohner. Patients should also keep the following tips in mind for a smooth surgical procedure and stress-free recovery period:

      .list__box-wrapper
        div

          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 1. Ask questions
            p.list__box-desc Do not be afraid to ask any question. Contact Lohner Plastic Surgery immediately, if you have any questions or concerns.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 2. Pick up prescriptions prior
            p.list__box-desc It is best to pick up your pain medications prior to your surgery. These should be on hand to start immediately after your procedure.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 3. Schedule transportation
            p.list__box-desc A ride home is required after your surgical procedure. Arrange transportation assistance from the surgical center, as well as for all follow-up appointments, if necessary.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 4. Buy supplies
            p.list__box-desc Gather books, magazines, extra pillows, icepacks, and simple foods to have on hand after surgery. This will ensure a smooth, peaceful recovery.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 5. TAKE TIME OFF
            p.list__box-desc Appropriate recovery time is necessary for proper healing. Take the recommended amount of time off from work or school, allowing plenty of time for rest and relaxation.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 6. Gather important numbers in a central location
            p.list__box-desc In case of an emergency, or any questions you may have for Dr. Lohner and his staff, collect all important phone numbers, and insurance cards in an easily accessible location. Share this location with whomever is assisting you during your recovery time.

        div

          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 1. Mark the calendar
            p.list__box-desc Get the follow-up appointments scheduled, so appropriate time can be taken off from work. Do not put off these important checkups with Dr. Lohner, as they are vital to your recovery.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 2. Arrange for assistance
            p.list__box-desc Have a close friend or family member stop by daily, to assist with minor chores or to prepare a meal. It is common for patients to be sore and tired the first couple days after surgery; the extra help will be greatly appreciated.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 3. Know what to tell others
            p.list__box-desc People close to you will know something has changed, either during the recovery or once the results become apparent. Be prepared with an explanation, when needed.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 4. Relax
            p.list__box-desc Dr. Lohner will walk patients through your surgical journey. As long as the appropriate preparations are made, the procedure should provide life-changing results.
          .list__box.wow.animate__animated.animate__fadeInUp
            p.list__box-title 5. TAKE TIME OFF
            p.list__box-desc Appropriate recovery time is necessary for proper healing. Take the recommended amount of time off from work or school, allowing plenty of time for rest and relaxation.

// SECTION :: END
