// SECTION :: START

section#options.options

  .c-grid
    .options__wrapper
      div

        h2.options__title.c-title.wow.animate__animated.animate__fadeInUp Breast Implant Options
        p.options__desc.c-desc.wow.animate__animated.animate__fadeInUp Just because one size breast looks great on someone, does not mean they will look equally fantastic on everyone. Height, weight, and build all factor into which size breast works best on an individual. Luckily there are many different combinations of breast implant size, shape, and texture, allowing the procedure to be tailored to each individual woman’s needs and desires.
        p.options__desc.c-desc.wow.animate__animated.animate__fadeInUp During the consultation appointment, Dr. Lohner will share Before and After photos of his Breast Augmentation patients, and will determine the best breast implant for each individual patient.

  .options__bg
    div
      img.wow.animate__animated.animate__fadeInUp(src="img/img-options-bg.jpg" srcset="img/img-options-bg@2x.jpg 2x" alt="")

// SECTION :: END
