// SECTION :: START

section#our.our.our--breast

  .our__bg

  .c-grid
    .our__wrapper

      div

        h2.our__title.c-title The first steps towards having a Breast Augmentation
        p.our__desc.c-desc Patients considering augmentation surgery should begin by doing extensive research. Start exploring the benefits, risks, and recovery time expected for this procedure, as well the various implant options available. Excellent resources can be found on the Internet. If a breast enlargement still sounds like the right procedure, patients should schedule a consultation appointment with Dr. Lohner.
        p.our__desc.c-desc The surgeon will use the initial appointment as a time to get to know the needs and desires of an individual patient. Dr. Lohner will review the medical history and do a brief physical examination. This consultation is the perfect opportunity to ask any questions you may have after researching the procedure on your own. After explaining the procedure, the techniques available, and the recovery commitment, Dr. Lohner will help the patient visualize the results. If this is the right procedure for you, a unique surgical plan will be developed.

// SECTION :: END
