// SECTION :: START

section#procedures.procedures
  .c-grid
    .procedures__wrapper
      .procedures__wrapper-left
        img(src="img/img-procedures-1.jpg" srcset="img/img-procedures-1@2x.jpg 2x" alt="")
      .procedures__wrapper-middle
        .procedures__content

          p.procedures__label.c-label FACE PROCEDURES
          h2.procedures__title.c-title Natural Looking Results + Elevated Beauty
          p.procedures__desc.c-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie vitae lectus sit amet finibus. Donec et facilisis lectus. Morbi quis tincidunt diam. Donec ac velit vel lacus euismod commodo. Etiam luctus, nibh non pulvinar porta, felis justo ultricies dui, vel ullamcorper ante turpis et libero.

      .procedures__wrapper-right
        img(src="img/img-procedures-2.jpg" srcset="img/img-procedures-2@2x.jpg 2x" alt="")

// SECTION :: END
