// SECTION :: START

section#services.services
  .c-grid
    .services__wrapper

      .services__box-wrapper
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white CHIN IMPLANTS
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white OTOPLASTY
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white EYELID SURGERY
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white FACELIFT
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white FOREHEAD LIFT
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE
        div
          a.services__box(href="#")
            p.services__box-title.c-title.c-title--small.c-title--white rhinoplasty
            .c-btn__wrapper
              .c-btn.c-btn--white
                span LEARN MORE

// SECTION :: END
