// SECTION :: START

section#testimonials.testimonials.testimonials--breast

  .testimonials__bg
    div
    div
      img(src="img/img-testimonials-breast.jpg" srcset="img/img-testimonials-breast@2x.jpg 2x" alt="")

  .c-grid
    .testimonials__wrapper
      div

        h2.testimonials__title
          span.c-title.c-title--medium.c-title--black Who makes an ideal candidate for Breast Augmentation?
        p.testimonials__desc.c-desc Any woman frustrated with the size and shape of her breasts may make a good candidate for this procedure. Ladies with a chest proportionate to their build, breasts different in size from each other, or who are experiencing a natural decrease in breast volume can benefit from an augmentation procedure. Excellent results are seen in patients of any age, including patients ages eighteen and older. As with all cosmetic surgery patients, women should be in generally good health, and have realistic expectations for their upcoming breast enhancement procedure.



// SECTION :: END
