// SECTION :: START

section#top.top
  .c-grid

    h2.top__title.wow.animate__animated.animate__fadeInUp!= "Top Reasons for <br>Breast Augmentation:"

    .top__wrapper
      .top__wrapper-left

        ul
          li.wow.animate__animated.animate__fadeInUp Small, misshapen breasts
          li.wow.animate__animated.animate__fadeInUp Asymmetrical breasts (one larger than the other)
          li.wow.animate__animated.animate__fadeInUp Lost breast volume lost after childbirth/breast feeding
          li.wow.animate__animated.animate__fadeInUp Loss of breast shape after a dramatic weight loss
          li.wow.animate__animated.animate__fadeInUp Depletion of chest volume due to normal aging process

      .top__wrapper-right

        ul
          li.wow.animate__animated.animate__fadeInUp Poorly fitting t-shirts, blouses, swimwear
          li.wow.animate__animated.animate__fadeInUp Less than optimal results from a previous breast augmentation
          li.wow.animate__animated.animate__fadeInUp Lack of a proportionate figure


// SECTION :: END
