// SECTION :: START

section#top.top
  .c-grid

    h2.top__title!= "Top Reasons for <br>Breast Augmentation:"

    .top__wrapper
      .top__wrapper-left

        ul
          li Small, misshapen breasts
          li Asymmetrical breasts (one larger than the other)
          li Lost breast volume lost after childbirth/breast feeding
          li Loss of breast shape after a dramatic weight loss
          li Depletion of chest volume due to normal aging process

      .top__wrapper-right

        ul
          li Poorly fitting t-shirts, blouses, swimwear
          li Less than optimal results from a previous breast augmentation
          li Lack of a proportionate figure


// SECTION :: END
