// SECTION :: START

section#versus.versus
  .c-grid

    h2.versus__title.c-title.c-title--medium.c-tilte--black.wow.animate__animated.animate__fadeInUp Submuscular versus Subglandula

  .versus__container

    .versus__wrapper

      .versus__box.versus__box-1

        p.versus__box-title.wow.animate__animated.animate__fadeInUp Submuscular Placement
        p.versus__box-desc.wow.animate__animated.animate__fadeInUp Implants placed submuscularly (under the muscle) have several benefits, including a lower chance for noticeable rippling and less chance for Capsular Contraction. They also provide greater upper pole fullness and look more natural than those over the muscle. The only downside of submuscular implants is the greater chance for animation distortion (change of breast shape with movement).

      .versus__box.versus__box-2

        p.versus__box-title.wow.animate__animated.animate__fadeInUp Subglandular Implants
        p.versus__box-desc.wow.animate__animated.animate__fadeInUp Implants placed subglandularly (over the muscle) can provide patients with the round, augmented look that are often desired. There is less chance for animation distortion with the subglandular placement, and patients note slightly less post-op discomfort. Unfortunately, implants placed over the muscle require a large amount of natural breast tissue to be present prior to surgery, and noticeable rippling is more likely to occur. A postoperative massage program is recommended for subglandular implants.

    .versus__bg
      img.wow.animate__animated.animate__fadeInUp(src="img/img-versus-bg.jpg" alt="")

// SECTION :: END
