// SECTION :: START

section#volume.volume

  .c-grid
    .volume__wrapper
      div

        h2.volume__title.c-title Volume, Shape, and Texture
        p.volume__label.c-label Implants can be found in both round and anatomic shapes
        p.volume__desc.c-desc The volume of an implant, both saline and silicone, is noted in CC (not cup size). A large selection of different volumes is available, allowing women to be very specific about the size breast they prefer. The use of sizers in the office work well to assess the patient’s desires.
        p.volume__desc.c-desc Implants can be found in both round and anatomic shapes. Round implants are used the most often, and look the most natural and symmetric. Anatomic implants (tear drop shaped) are the best implant option for patients who want shape when little breast tissue is present. This implant, however, has a greater tendency to rotate, looking unnatural
        p.volume__desc.c-desc Smooth implants move very well within the breast pocket. They are the most popular breast implant. Textured implants were originally thought to reduce the chance for Capsular Contraction, although this is not always the case. Texture implants have a higher chance for rippling and unnatural movement.

  .volume__bg
    div
      img(src="img/img-volume.jpg" srcset="img/img-volume@2x.jpg 2x" alt="")

// SECTION :: END
