// SECTION :: START

section#contact.contact
  .c-grid
    .contact__wrapper.contact__wrapper-1

      h2.contact__title.c-title SCHEDULE A CONSULTATION
      p.contact__desc.c-desc Our friendly, highly-trained staff will take care of your scheduling needs and put you in touch with our staff for a consultation that could change your life. Contact us today to schedule your consultation. We offer in-person and virtual appointments to better accommodate your needs. You can also call us at 999.999.9999 to schedule an appointment.

      form.contact__form(action='' method='' autocomplete='off')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='text' placeholder='Full Name*')
          div
            .contact__form-field
              label
                input(type='tel' placeholder='Phone*')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='email' placeholder='Email Address*')
          div
            .contact__form-field
              label
                select
                  option Procedure of Interest
                  option Procedure of Interest
        .contact__form-group
          div
            .contact__form-field
              label
                select
                  option How did you hear about us?
                  option How did you hear about us?
          div
            .contact__form-field
              label
                select
                  option Best time to reach you
                  option Best time to reach you
        .contact__form-field
          label
            textarea(placeholder='How can we help you?')
        .contact__form-field.contact__form-field--btn
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='submit')
              span SUBMIT FORM

// SECTION :: END
